/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: dark) {
  :root.theme-auto {
    --rec-visibility: inline;
    --accent-color: #FF0070;
    --title-color: #DB00FF;
    --background-picture: url(../images/cover-image-dark.png);
    --background-color-change: #000028;
    --theme-color: #000028;
    --top-and-question-color: #FF0070;
    --text-color: #F1B2CE;
  }
}

:root.theme-dark {
  --rec-visibility: inline;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --background-picture: url(../images/cover-image-dark.png);
  --background-color-change: #000028;
  --theme-color: #000028;
  --top-and-question-color: #FF0070;
  --text-color: #F1B2CE;
}
