/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --rec-visibility: none;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --background-picture: url(../images/cover-image-light.png);
  --background-color-change: #F5F5F5;
  --theme-color: #353430;
  --top-and-question-color: #353430;
  --text-color: #353430;
}