html {
  background-color: var(--background-color-change);
}

.page {
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  background-color: var(--background-color-change);
  background-image: var(--background-picture);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  container-type: inline-size;
}

.rec {
  position: absolute;
  display: var(--rec-visibility);
  color: var(--accent-color);
}

.rec::before {
  content: ' ';
  position: absolute;
  display: var(--rec-visibility);
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 5px 2px var(--accent-color);
  -moz-box-shadow: 0px 0px 5px 2px var(--accent-color);
  box-shadow: 0px 0px 5px 2px var(--accent-color);
  top: 6px;
  left: 42px;
}

.decorated-zone::before {
  content: ' ';
  position: absolute;
  border-top: 1px solid var(--top-and-question-color);
  border-right: 1px solid var(--top-and-question-color);
  height: 25px;
  width: 25px;
}

.decorated-zone::after {
  content: ' ';
  position: absolute;
  border-left: 1px solid var(--top-and-question-color);
  border-bottom: 1px solid var(--top-and-question-color);
  height: 25px;
  width: 25px;
}

@media (max-width: 768px) {
  .rec {
    right: 38px;
    top: 12px;
  }

  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    left: 10px;
    bottom: 10px;
  }
}

@media (min-width: 768px) {
  .rec {
    right: 48px;
    top: 22px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__theme-menu {
  display: flex;
}

.header__theme-menu-list {
  display: flex;
  gap: 9px;
}

.header__theme-menu-button {
  padding: 0 12.5px 3px 12.5px;
  height: 26px;
  cursor: pointer;
  color: var(--top-and-question-color);
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--top-and-question-color);
}

.title {
  color: var(--title-color);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.theme-decor {
  color: var(--theme-color);
  background-color: var(--accent-color);
  font-weight: bold;
  font-size: 18px;
}

@container (inline-size < 768px) {
  .header {
    min-height: 668px;
    margin-bottom: 41px;
  }

  .header__theme-menu {
    align-self: end;
    margin: 75px 10px 66px auto;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.84em;
  }

  .title_header {
    margin-bottom: 55px;
    margin-left: 10px;
  }

  .title_decor {
    width:max(355px, 50% - 20px);
    margin-left: auto;
    margin-right: 10px;
    align-self: end;
  }
}

@container (768px <= inline-size < 1024px) {
  .header {
    min-height: 1024px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    align-self: end;
    margin: 192px 20px 147px auto;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_header {
    margin-bottom: 134px;
  }

  .title_decor {
    width: calc(50% - 20px);
    margin-left: auto;
    margin-right: 20px;
  }
}

@container (inline-size >= 1024px) {
  .header {
    min-height: 768px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    align-self: center;
    margin: 20px auto 236px auto;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_header {
    margin-bottom: 77px;
  }

  .title_decor {
    width: calc(50% - 20px);
    margin-left: auto;
    margin-right: 20px;
  }
}

.section {
  display: grid;
  grid-auto-rows: auto;
  gap: 20px;
}

.question {
  color: var(--top-and-question-color);
  font-weight: bold;
  font-size: 18px;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer_text {
  color: var(--text-color);
  line-height: 1.302em;
}

.theme_mini {
  font-weight: 400;
}

.answer_link {
  display: inline;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@container (inline-size < 768px) {
  .main {
    margin: 0 10px;
  }

  .section {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .question_group {
    grid-row: 1;
    grid-column: 1;
  }

  .answer_group {
    grid-column: 1;
  }
}

@container (768px <= inline-size < 1024px) {
  .main {
    margin: 0 20px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
  }

  .question_group {
    grid-row: 1/3;
    grid-column: 1;
  } 

  .question_block {
    grid-column: 1;
    grid-row: 1;
  }

  .answer_group {
    grid-column: 2/4;
    margin-left: 6px;
  }

  .answer_block {
    grid-column: 1/4;
  }
}

@container (inline-size >= 1024px) {
  .main {
    margin: 0 20px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 80px;
  }

  .question_group {
    grid-row: 1/3;
    grid-column: 1;
  }

  .answer_group {
    grid-column: 2/4;
  }

  .answer_block {
    grid-row: 2;
  }
}

.section_images {
  display: flex;
  flex-direction: column;
}

.images {
  display: grid;
}

.images img:nth-child(1) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images img:nth-child(2) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images img:nth-child(3) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images img:nth-child(4) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.images img:nth-child(5) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@container (inline-size < 768px) {
  .section_images {
    margin: 10px 0 43px 0;
    gap: 10px;
  }
  
  .images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    aspect-ratio: 1/1;
  }

  .images img:nth-child(1) {
    grid-row: 1;
  }

  .images img:nth-child(2) {
    grid-row: 2;
  }

  .images img:nth-child(3) {
    grid-row: 3;
  }

  .images img:nth-child(4) {
    grid-row: 4;
  }

  .images img:nth-child(5) {
    grid-row: 5;
  }
}

@container (inline-size >= 768px) {
  .section_images {
    gap: 20px;
    margin: 20px 0 60px 0;
  }
  
  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    aspect-ratio: 1/1;
  }

  .images img:nth-child(1) {
    grid-row: 1;
    grid-column: span 2;
  }

  .images img:nth-child(2) {
    grid-row: span 2;
    grid-column: 3;
  }

  .images img:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .images img:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .images img:nth-child(5) {
    grid-row: 3;
    grid-column: span 2;
  }
}

.footer {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
}

@container (inline-size < 768px) {
  .footer {
    min-height: 668px;
  }
}

@container (768px <= inline-size < 1024px) {
  .footer {
    min-height: 1024px;
  }
}

@container (inline-size >= 1024px) {
    .footer {
    min-height: 768px;
  }
}

.title_footer {
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color);
}