:root{
  --rec-visibility: inline;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --background-picture: url(../images/cover-image-dark.png);
  --background-color-change: #000028;
  --theme-color: #000028;
  --top-and-question-color: #FF0070;
  --text-color: #F1B2CE;
}

@media (max-width: 768px) {
  .rec::before {
    right: 38px;
    top: 12px;
  }

  .rec_dot::before{
    top: 18px;
    right: 18px;
  }

  .rec_border_top {
    top: 10px;
    right: 10px;
  }

  .rec_border_bottom {
    left: 10px;
    bottom: 10px;
  }
}

@media (min-width: 768px) {
  .rec::before {
    right: 48px;
    top: 22px;
  }

  .rec_dot::before{
    top: 28px;
    right: 28px;
  }

  .rec_border_top {
    top: 20px;
    right: 20px;
  }

  .rec_border_bottom {
    left: 20px;
    bottom: 20px;
  }
}

@container (inline-size < 768px){
  .header {
    min-height: 668px;
    margin-bottom: 41px;
  }

  .header__theme-menu {
    align-self: end;
    margin: 75px 10px 66px auto;
  }

  .header__theme-menu-list{
    flex-direction: column;
  }

  .title{
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.84em;
  }

  .title_header {
    margin-bottom: 55px;
    margin-left: 10px;
  }

  .title_decor {
    width:max(355px, 50% - 20px);
    margin-left: auto;
    margin-right: 10px;
    align-self: end;
  }
}

@container (768px <= inline-size < 1024px){
  .header {
    min-height: 1024px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    align-self: end;
    margin: 192px 20px 147px auto;
  }

  .header__theme-menu-list{
    flex-direction: column;
  }

  .title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_header {
    margin-bottom: 134px;
  }

  .title_decor {
    width: calc(50% - 20px);
    margin-left: auto;
    margin-right: 20px;
  }
}

@container (inline-size >= 1024px) {
  .header {
    min-height: 768px;
    margin-bottom: 60px;
  }

  .header__theme-menu {
    align-self: center;
    margin: 20px auto 236px auto;
  }

  .header__theme-menu-list{
    flex-direction: row;
  }

  .title{
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title_header {
    margin-bottom: 77px;
  }

  .title_decor {
    width: calc(50% - 20px);
    margin-left: auto;
    margin-right: 20px;
  }
}

@container (inline-size < 768px) {
  .main {
    margin: 0 10px;
  }

  .section {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .special_margin {
    margin-bottom: 50px;
  }

  .question_column{
    grid-row: 1;
  }

  .answer_column{
    grid-column: 1;
  }
}

@container (768px <= inline-size < 1024px) {
  .main {
    margin: 0 20px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
  }

  .special_margin {
    margin-bottom: 80px;
  }

  .question_column{
    grid-row: 1/5;
  }

  .question_row{
    grid-column: 1;
  }

  .answer_column{
    grid-column: 2/4;
    margin-left: 6px;
  }

  .answer_row {
    grid-column: 1/4;
  }
}

@container (inline-size >= 1024px){
  .main {
    margin: 0 20px;
  }

  .section {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 42px;
  }

  .special_margin {
    margin-bottom: 80px;
  }

  .question_column{
    grid-row: 1/5;
  }

  .answer_column{
    grid-column: 2/4;
  }

  .answer_row {
    grid-row: 2;
  }
}

@container (inline-size < 768px) {
  .images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
    margin: 10px 0 43px 0;
  }

  .images img:nth-child(1) {
    grid-row: 1;
  }

  .images img:nth-child(2) {
    grid-row: 2;
  }

  .images img:nth-child(3) {
    grid-row: 3;
  }

  .images img:nth-child(4) {
    grid-row: 4;
  }

  .images img:nth-child(5) {
    grid-row: 5;
  }
}

@container (inline-size >= 768px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 0 60px 0;
    aspect-ratio: 1/1;
  }

  .images img:nth-child(1) {
    grid-row: 1;
    grid-column: span 2;
  }

  .images img:nth-child(2) {
    grid-row: span 2;
    grid-column: 3;
  }

  .images img:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1;
  }

  .images img:nth-child(4) {
    grid-row: 2;
    grid-column: 2;
  }

  .images img:nth-child(5) {
    grid-row: 3;
    grid-column: span 2;
  }
}

@container (inline-size < 768px) {
  .footer {
    min-height: 668px;
  }
}

@container (768px <= inline-size < 1024px) {
  .footer {
    min-height: 1024px;
  }
}

@container (inline-size >= 1024px){
    .footer {
    min-height: 768px;
  }
}