:root {
  --rec-visibility: inline;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --background-picture: url(../images/cover-image-dark.png);
  --background-color-change: #000028;
  --theme-color: #000028;
  --top-and-question-color: #FF0070;
  --text-color: #F1B2CE;
}